**/*
!package.json
!README.md
!LICENSE
!dist/extension.js
!dist/terminalDaemon.js
!dist/webview.js
!dist/webview.css
!dist/sidebarView.js
!dist/sidebarView.css
!dist/ronin.svg
!dist/licenses/@xterm-*.txt
!dist/licenses/react.txt
!dist/licenses/react-dom.txt
!dist/licenses/scheduler.txt
!dist/licenses/node-pty.txt
!dist/native/node-pty/package.json
!dist/native/node-pty/LICENSE
!dist/native/node-pty/lib/index.js
!dist/native/node-pty/lib/terminal.js
!dist/native/node-pty/lib/unixTerminal.js
!dist/native/node-pty/lib/windowsTerminal.js
!dist/native/node-pty/lib/windowsPtyAgent.js
!dist/native/node-pty/lib/windowsConoutConnection.js
!dist/native/node-pty/lib/conpty_console_list_agent.js
!dist/native/node-pty/lib/eventEmitter2.js
!dist/native/node-pty/lib/interfaces.js
!dist/native/node-pty/lib/types.js
!dist/native/node-pty/lib/utils.js
!dist/native/node-pty/lib/shared/conout.js
!dist/native/node-pty/lib/worker/conoutSocketWorker.js
!dist/native/node-pty/build/Release/pty.node
dist/**/*.test.js
dist/**/*.map
